@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.standard_font{
  font-family: 'Source Sans Pro', sans-serif;
}

.gradient-background {
  background: linear-gradient(300deg,darkviolet,blue,#e30c0c,#e30ccd);
  background-size: 240% 240%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}